<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.mapper.AgentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.entity.Agent">
        <id column="agent_id" property="agentId" />
        <result column="agent" property="agent" />
        <result column="agent_address" property="agentAddress" />
        <result column="agent_type" property="agentType" />
        <result column="agent_name" property="agentName" />
        <result column="court_number" property="courtNumber" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        agent_id AS "agentId", agent AS "agent", agent_address AS "agentAddress", agent_type AS "agentType", agent_name AS "agentName", court_number AS "courtNumber", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser"
    </sql>


    <select id="findList" resultType="cn.stylefeng.guns.modular.model.result.AgentResult" parameterType="cn.stylefeng.guns.modular.model.request.AgentRequest">
        select
        <include refid="Base_Column_List"/>
        from agent where 1 = 1
    </select>

    <select id="findPage" resultType="cn.stylefeng.guns.modular.model.result.AgentResult" parameterType="cn.stylefeng.guns.modular.model.request.AgentRequest">
        select
        <include refid="Base_Column_List"/>
        from agent where 1 = 1
    </select>

</mapper>
