<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.mapper.BasicInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.entity.BasicInfo">
        <id column="basic_id" property="basicId"/>
        <result column="filing_time" property="filingTime"/>
        <result column="court_time" property="courtTime"/>
        <result column="court_place" property="courtPlace"/>
        <result column="chief_judge" property="chiefJudge"/>
        <result column="judge" property="judge"/>
        <result column="juror" property="juror"/>
        <result column="court_clerk" property="courtClerk"/>
        <result column="court_number" property="courtNumber"/>
        <result column="court_cause" property="courtCause"/>
        <result column="final_mediate_plan" property="finalMediatePlan"/>
        <result column="summarize" property="summarize"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
